* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
  background: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.wrapper {
  font-family: Gilroy;
  font-family: 'Inter', sans-serif;
}

// надо закинуть в header
.common-bg {
  background: linear-gradient(0deg, #211F20 0%, #44403F 100%);
}

@import'./layout/header.scss';
@import'./layout/nav.scss';
@import'./layout/footer.scss';
@import'./include/stocks.scss';
@import'./include/delivery.scss';