<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="footer-rel">
        <div class="">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1462.3693340206476!2d74.58760309450024!3d42.85725095456339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9d62b691ce7%3A0xe7bf9b1f71915de2!2sGreen%20Chicken!5e0!3m2!1sru!2skg!4v1698388377393!5m2!1sru!2skg"
            width="1519" height="500" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
          <div class="contacts-top">
            <h3>КОНТАКТЫ</h3>
            <div class="">
              <div class="contacts-line"></div>
              <div class="contacts">
                <div class="contacts-text">
                  <svg class="">
                    <use href="../img/icons/svg-sprite.svg#gis-green"></use>
                  </svg>
                  <div class="">
                    <span>Наш адрес:</span>
                    <p>МО, городской округ Красногорск, <br>село Ильинкое,
                      Экспериментальная улица, 10</p>
                  </div>
                </div>
                <div class="contacts-text">
                  <svg class="">
                    <use href="../img/icons/svg-sprite.svg#message"></use>
                  </svg>
                  <div class="">
                    <span>Наша почта:</span>
                    <p>auto.wash@gmail.com</p>
                  </div>
                </div>
              </div>
              <div class="contacts-line"></div>
            </div>
            <div class="contacts-social">
              <div class="form-btn">
                <a href="">ЗАБРОНИРОВАТЬ СТОЛ</a>
                <div class="form">
                  <h2>+7 (917) 510-57-59</h2>
                  <p>Звоните или оставляйте заявку</p>
                </div>
              </div>
              <div class="social-network">
                <p>Мы в соц сетях:</p>
                <div class="">
                  <svg class="">
                    <use href="../img/icons/svg-sprite.svg#facebook"></use>
                  </svg>
                  <svg class="">
                    <use href="../img/icons/svg-sprite.svg#vk"></use>
                  </svg>
                  <svg class="">
                    <use href="../img/icons/svg-sprite.svg#youtube"></use>
                  </svg>
                  <svg class="">
                    <use href="../img/icons/svg-sprite.svg#instagram"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="clic-top">
            <svg class="">
              <use href="../img/icons/svg-sprite.svg#arrow"></use>
            </svg>
          </div>
          <div class="footer-top">
            <div class="footer-info">
              <span class="logo">LOGOS</span>
              <div class="footer-text">
                <span>© ООО СК «АПШЕРОН»<br>
                  Все права защищены. 2010-2020</span>
                <div class="">
                  <p>Пользовательское соглашение</p>
                  <p>Карта сайта</p>
                  <p>Политика конфиденциальности</p>
                </div>
              </div>
            </div>
            <ul>
              <li>О ресторане</li>
              <li>Условия доставки</li>
              <li>Возврат товара</li>
              <li>Акции</li>
            </ul>
          </div>
        </footer>
      </div>
</body>
</html>