<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="">
        <div class="header">
          <div class="header-left">
            <span class="logo">LOGOS</span>
            <div class="search">
              <div class="input">
                <svg class="">
                  <use href="../img/icons/svg-sprite.svg#gis"></use>
                </svg>
                <input type="text" placeholder="Введите адрес доставки">
              </div>
              <svg class="">
                <use href="../img/icons/svg-sprite.svg#search"></use>
              </svg>
            </div>
          </div>
          <div class="header-right">
            <div class="svg-bg">
              <svg class="svg">
                <use href="../img/icons/svg-sprite.svg#call"></use>
              </svg>
            </div>
            <div class="contact">
              <span>Контакты:</span>
              <p>+7 (917) 510-57-59</p>
            </div>
          </div>
          <div class="profile">
            <div class="profile-line"></div>
            <div class="profil">
              <svg class="">
                <use href="../img/icons/svg-sprite.svg#profile"></use>
              </svg>
              <p>Войти</p>
            </div>
          </div>
          <div class="basket">
            <p>Корзина</p>
            <div class="basket-line"></div>
            <div class="sum">
              <p>4</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="nav-line">
            <ul class="nav">
              <li>Холодные закуски</li>
              <li>Горячие закуски</li>
              <li>Мясные блюда</li>
              <li>Супы</li>
              <li>Рыбные блюда</li>
              <li>Гриль меню</li>
              <li>Фирменные блюда</li>
              <li>Напитки</li>
            </ul>
          </div>
          <div class="nav-collapse">
            <div class="nav-collapseline">
            </div>
            <h2>АКЦИИ</h2>
          </div>
          <div class="nav-linetop"></div>
        </div>
      </div>

</body>
</html>