<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="#" class="logo">logos</a>
        </div>
    </div>
      

        <div class="button-conteiner">
            <svg class="">
                <use href="../img/icon/svg-sprite.svg#location"></use>
                </svg>
            <button class="full-width-button">Введите адрес доставки</button>
        </div>

        <div class="">
            <div class="ellipse">
                <svg class="icon">
                    <use href="../img/icon/svg-sprite.svg#call-phone"></use>
                    </svg>
                Контакты:<br>
                +7 (917) 510-57-59
            </div>
        </div>

        <div class="">
            <div class="profile">
                <a href="">Войти</a>
            </div>
        </div>

        <div class="button">
            <div class="button-basket">
                <button>Корзина</button>
            </div>
        </div>

        <nav class="menu">
            <ul>
                <a href="#">Холодные закуски</a>
                <a href="#">Горячие закуски </a>
                <a href="#">Мясные блюда</a>
                <a href="#">Супы</a>
                <a href="#">Рыбные блюда </a>
                <a href="#">Гриль меню </a>
                <a href="#">Фирменные блюда</a>
                <a href="#">Напитки</a>
            </ul>
        </nav>

        <div class="">
            <div class="stork">
                <h1>АКЦИИ</h1>
            </div>
        </div>
</body>
</html>
